<div class="card">
  <div class="content">
    <h3 class="ui header">{{title}}</h3>
    <div class="description ui two column grid">
      <div class="column">
        <div class="ui text">
          <div class="ui text"> {{valueA}} {{unitA}}</div>
          <div class="ui text"> {{valueB}} {{unitB}}</div>
          <div class="ui text"> {{valueC}} {{unitC}}</div>
        </div>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</div>