<div class="card">
  <div class="content">
    <h3 class="ui header">{{title}}</h3>
    <div class="description ui two column grid">
      <div class="column">
        <div class="ui text">
          <div class="ui text"> {{prefixA}} {{valueA}} {{suffixA}}</div>
          <div class="ui text"> {{prefixB}} {{valueB}} {{suffixB}}</div>
          <div class="ui text"> {{prefixC}} {{valueC}} {{suffixC}}</div>
          <div class="ui text"> {{prefixD}} {{valueD}} {{suffixD}}</div>
          <div class="ui text"> {{prefixE}} {{valueE}} {{suffixE}}</div>
        </div>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</div>