{{> menu activepagetitle=(append station.name " Weather Station")}}

<section class="ui segment">
  <section class="ui stacked segment" style="background: #6587A1; border-radius: 20px;" >
  {{> station-panel
    name=station.name
    lat=station.lat
    lon=station.lon
    codeString=station.lastReading.codeString
    weatherIcon=station.weatherIcon
    tempC=station.lastReading.temperature
    tempF=station.lastReading.temperatureF
    maxTemp=station.maxTemp
    minTemp=station.minTemp
    windBft=station.lastReading.windSpeedBft
    maxWind=station.maxWind
    minWind=station.minWind
    windCompass=station.lastReading.windCompass
    pressure=station.lastReading.pressure
    maxPressure=station.maxPressure
    minPressure=station.minPressure
    windChill=station.lastReading.windChill
    tempTrend=station.tempTrend
    windTrend=station.windTrend
    pressureTrend=station.pressureTrend
  }}
  <div class="ui divider"></div>
  </section>
  {{#if displayCharts}}
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Temperature</a>
      <a class="item" data-tab="second">Wind</a>
      <a class="item" data-tab="third">Pressure</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <div class="ui segment" id="chartTemperature"></div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <div class="ui segment" id="chartWind"></div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      <div class="ui segment" id="chartPressure"></div>
    </div>

    <script>
      $('.menu .item').tab(
        {
          'onLoad': function() {
            switch($('.item.active')[0].innerHTML) {
              case "Temperature":
                temperatureChart.draw(true);
                break;
              case "Wind":
                windChart.draw(true);
                break;
              case "Pressure":
                pressureChart.draw(true);
                break;
            }
          },
        });

      const temperatureData = {
        labels: [
          {{#each station.dateLabels}}
            "{{this}}",
          {{/each}}
        ],
        datasets: [
          {
            name: "Temperature", type: "line",
            values: [
              {{#each station.tempReadings}}
                {{this}},
              {{/each}}
            ]
          }
        ]
      }

      const windData = {
        labels: [
          {{#each station.dateLabels}}
            "{{this}}",
          {{/each}}
        ],
        datasets: [
          {
            name: "Wind Speed", type: "line",
            values: [
              {{#each station.readings}}
                {{this.windSpeed}},
              {{/each}}
            ]
          }
        ]
      }

      const pressureData = {
        labels: [
          {{#each station.dateLabels}}
            "{{this}}",
          {{/each}}
        ],
        datasets: [
          {
            name: "Pressure", type: "line",
            values: [
              {{#each station.readings}}
                {{this.pressure}},
              {{/each}}
            ]
          }
        ]
      }

      const temperatureChart = new frappe.Chart("#chartTemperature", {
        title: "Temperature Trend",
        data: temperatureData,
        type: 'line',
        lineOptions: {
          regionFill: 1
        },
        height: 250,
        colors: ['blue'],
      });

      const windChart = new frappe.Chart("#chartWind", {
        title: "Wind Speed Trend",
        data: windData,
        type: 'line',
        lineOptions: {
          regionFill: 1
        },
        height: 250,
        colors: ['green'],
      });

      const pressureChart = new frappe.Chart("#chartPressure", {
        title: "Pressure Trend",
        data: pressureData,
        type: 'line',
        lineOptions: {
          regionFill: 1
        },
        height: 250,
        colors: ['orange'],
      });

    </script>

    {{> reading-table readings=station.readings stationid=station.id}}

  {{/if}}

  {{> add-reading-form }}

  <form class="ui stacked segment form" action="/station/{{station.id}}/addopenweatherreading" method="POST">
    <button class="ui green submit button">Add OpenWeather Reading</button>
  </form>

</section>